# Ci√™ncia de Dados 2

## Agrega√ß√£o de dados das prefeituras do Twitter

In [108]:
import pandas as pd
import numpy as np

In [109]:
import pandas as pd
df = pd.read_json ('datasets/PrefsTwitter.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   municipio  90 non-null     object
 1   tweets     90 non-null     object
 2   includes   90 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

In [110]:
df.head()

,municipio,tweets,includes
0,S√£o Paulo,"[[{'created_at': '2021-04-10T21:41:30.000Z', '...","[{'users': [{'id': '1319636844821217280', 'nam..."
1,Rio de Janeiro,"[[{'entities': {'urls': [{'start': 280, 'end':...","[{'users': [{'username': 'Prefeitura_Rio', 'na..."
2,Manaus,"[[{'text': '@cadeacatu üôèüöúüòâ', 'public_metrics':...","[{'users': [{'id': '801439438983270400', 'user..."
3,Fortaleza,"[[{'public_metrics': {'retweet_count': 0, 'rep...",[{'users': [{'name': 'Prefeitura de Fortaleza'...
4,Bras√≠lia,"[[{'text': 'A partir de hoje, o Festival de Ci...","[{'users': [{'id': '24695159', 'username': 'Br..."

###  A disposi√ß√£o dos dados salvos no json n√£o ficou muito boa para comecar a limpeza e an√°lise, ent√£o vamos criar um  novo.

### Devido a complexidade do objeto teremos que reformatar a maneira que salvamos. Come√ßamos ent√£o a verificar quais campo queremos e jogamos estes campos em um Dataframe novo.

In [140]:
def create_df_updated(municipio, all_tweets, all_includes):
   
    for i in range(len(all_tweets)):
        for j in range(len(all_tweets[i])):
            result = all_tweets[i][j]
            
            ## Pego mais informa√ß√µes sobre o primeiro tweet da lista e se for retweet
            listUpdated.append({'municipio' : municipio, 
                                        'tweet_id' : result['id'],
                                        'created_at' : result['created_at'],
                                        'author_id' : result['author_id'],
                                        'text' : result['text'],
                                        'public_metrics_retweet_count' : result['public_metrics']['retweet_count'],
                                        'public_metrics_reply_count' : result['public_metrics']['reply_count'],
                                        'public_metrics_like_count' : result['public_metrics']['like_count'],
                                        'public_metrics_quote_count' : result['public_metrics']['quote_count'],
                                        'referenced_twitter' : (True if "referenced_tweets" in result else False)})
            
            
    return True

In [141]:
listUpdated = []

df['processado'] = df.apply(lambda row : create_df_updated(row['municipio'], row['tweets'], row['includes']), axis = 1)

dfUpdated = pd.DataFrame (listUpdated)

dfUpdated.head()

,municipio,tweet_id,created_at,author_id,text,public_metrics_retweet_count,public_metrics_reply_count,public_metrics_like_count,public_metrics_quote_count,referenced_twitter
0,S√£o Paulo,1380999403910094855,2021-04-10T21:41:30.000Z,1319636844821217280,"Esse da foto √© o Pluto, um filhote calminho e ...",4,0,9,0,False
1,S√£o Paulo,1380985859059576832,2021-04-10T20:47:40.000Z,1319636844821217280,O in√≠cio da vacina√ß√£o dos idosos com 67 anos o...,0,1,1,0,False
2,S√£o Paulo,1380969544513159176,2021-04-10T19:42:51.000Z,1319636844821217280,RT @spsmdet: Uma onda de solidariedade chegou ...,2,0,0,0,True
3,S√£o Paulo,1380960415555915781,2021-04-10T19:06:34.000Z,1319636844821217280,A Secretaria de Educa√ß√£o divulgou a convoca√ß√£o...,0,0,2,0,False
4,S√£o Paulo,1380953886299713541,2021-04-10T18:40:38.000Z,1319636844821217280,Os postos drive-thru que fazem parte da estrut...,1,0,3,0,False

In [142]:
## Salvando os o novo DF para limpeza e analise
dfUpdated.to_csv('datasets/PrefsTweetsAgregado.csv', sep=';', encoding='utf-8')

### Os dados agora agregados e est√£o mais bem estruturados para a limpeza.