In [3]:
import pandas as pd
import numpy as np

In [4]:
# lê o arquivo CSV
df = pd.read_csv('datasets/caso_full.csv', delimiter=",")

# mostra o conteúdo do DataFrame
df.head(5)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1876816 entries, 0 to 1876815
Data columns (total 18 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   city                                           object
 1   city_ibge_code                                 float64
 2   date                                           object
 3   epidemiological_week                           int64
 4   estimated_population                           float64
 5   estimated_population_2019                      float64
 6   is_last                                        bool
 7   is_repeated                                    bool
 8   last_available_confirmed                       int64
 9   last_available_confirmed_per_100k_inhabitants  float64
 10  last_available_date                            object
 11  last_available_death_rate                      float64
 12  last_available_deaths                          int64
 13  order_for_place                                int64
 14  place_type                                     object
 15  state                                          object
 16  new_confirmed                                  int64
 17  new_deaths                                     int64
dtypes: bool(2), float64(5), int64(6), object(5)
memory usage: 232.7+ MB

In [6]:
len(df[df.isna().any(axis=1)])

33086

In [7]:
df = df.dropna()

In [8]:
# df = df[df["is_repeated"] != True]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1843730 entries, 0 to 1876814
Data columns (total 18 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   city                                           object
 1   city_ibge_code                                 float64
 2   date                                           object
 3   epidemiological_week                           int64
 4   estimated_population                           float64
 5   estimated_population_2019                      float64
 6   is_last                                        bool
 7   is_repeated                                    bool
 8   last_available_confirmed                       int64
 9   last_available_confirmed_per_100k_inhabitants  float64
 10  last_available_date                            object
 11  last_available_death_rate                      float64
 12  last_available_deaths                          int64
 13  order_for_place                                int64
 14  place_type                                     object
 15  state                                          object
 16  new_confirmed                                  int64
 17  new_deaths                                     int64
dtypes: bool(2), float64(5), int64(6), object(5)
memory usage: 242.6+ MB

In [9]:
df.head(5)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0
6,Rio Branco,1200401.0,2020-03-20,202012,413418.0,407319.0,False,False,7,1.69320,2020-03-20,0.0,0,4,city,AC,3,0
8,Rio Branco,1200401.0,2020-03-21,202012,413418.0,407319.0,False,False,11,2.66075,2020-03-21,0.0,0,5,city,AC,4,0

In [10]:
## Vamos utilizar somente a coluna Data, UF, Municipio, Confirmed, Deaths,estimated_population, confirmed_per_100k_inhabitants and death_rate 

df.drop('city_ibge_code', axis=1, inplace=True)
df.drop('epidemiological_week', axis=1, inplace=True)
df.drop('estimated_population_2019', axis=1, inplace=True)
df.drop('is_last', axis=1, inplace=True)
df.drop('is_repeated', axis=1, inplace=True)
df.drop('last_available_confirmed', axis=1, inplace=True)
df.drop('last_available_confirmed_per_100k_inhabitants', axis=1, inplace=True)
df.drop('last_available_date', axis=1, inplace=True)
df.drop('last_available_deaths', axis=1, inplace=True)
df.drop('order_for_place', axis=1, inplace=True)
df.drop('place_type', axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1843730 entries, 0 to 1876814
Data columns (total 7 columns):
 #   Column                     Dtype
---  ------                     -----
 0   city                       object
 1   date                       object
 2   estimated_population       float64
 3   last_available_death_rate  float64
 4   state                      object
 5   new_confirmed              int64
 6   new_deaths                 int64
dtypes: float64(2), int64(2), object(3)
memory usage: 112.5+ MB

In [11]:
df.describe()

,estimated_population,last_available_death_rate,new_confirmed,new_deaths
count,1.843730e+06,1.843730e+06,1.843730e+06,1.843730e+06
mean,4.239237e+04,2.950365e-02,7.006651e+00,1.807287e-01
std,2.454663e+05,6.909092e-02,7.590008e+01,2.201362e+00
min,7.760000e+02,0.000000e+00,-2.327500e+04,-4.070000e+02
25%,5.784000e+03,5.100000e-03,0.000000e+00,0.000000e+00
50%,1.256000e+04,1.720000e-02,0.000000e+00,0.000000e+00
75%,2.761700e+04,3.120000e-02,3.000000e+00,0.000000e+00
max,1.232523e+07,1.000000e+00,4.017000e+04,4.380000e+02

In [12]:
df = df[df['new_deaths'] > 0]
df = df[df['new_confirmed'] > 0]

In [13]:
df.groupby('city').size()

city
Abadia de Goiás        12
Abadia dos Dourados     5
Abadiânia              21
Abaetetuba             69
Abaeté                 11
                       ..
Álvaro de Carvalho      5
Ângulo                  3
Érico Cardoso           1
Óbidos                 39
Óleo                    1
Length: 4876, dtype: int64

In [14]:
df['date'] = pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114435 entries, 59 to 1876516
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   city                       114435 non-null  object
 1   date                       114435 non-null  datetime64[ns]
 2   estimated_population       114435 non-null  float64
 3   last_available_death_rate  114435 non-null  float64
 4   state                      114435 non-null  object
 5   new_confirmed              114435 non-null  int64
 6   new_deaths                 114435 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 7.0+ MB

In [15]:
df.groupby('city').size()

city
Abadia de Goiás        12
Abadia dos Dourados     5
Abadiânia              21
Abaetetuba             69
Abaeté                 11
                       ..
Álvaro de Carvalho      5
Ângulo                  3
Érico Cardoso           1
Óbidos                 39
Óleo                    1
Length: 4876, dtype: int64

In [16]:
df.groupby('state').size()

state
AC      599
AL     1626
AM     2516
AP      542
BA     6505
CE     4954
DF      360
ES     4136
GO     4975
MA     2852
MG     8086
MS     1918
MT     2931
PA     3493
PB     2742
PE     5470
PI     1976
PR     7941
RJ     6355
RN     1555
RO     1705
RR      384
RS     8901
SC     6563
SE     1755
SP    22183
TO     1412
dtype: int64

In [17]:
df.to_csv('datasets/covidCasesLimpoGeral.csv')

## Salvando o csv com os reports de casos de covid com data, UF e municipio

## Para poder juntar com o dataset do twitter preciso selecionar somente as entradas das top 100 cidades que pegamos nodia 10/04 no portal COVID IO

In [19]:
# lê o arquivo CSV
df_prefs = pd.read_csv('datasets/TwitterPrefsCOVIDComID.csv', delimiter=";")

# mostra o conteúdo do DataFrame
df_prefs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   90 non-null     int64
 1   Data                         90 non-null     object
 2   Municipio                    90 non-null     object
 3   UF                           90 non-null     object
 4   Confirmados                  90 non-null     object
 5   Confirmados 100k habitantes  90 non-null     object
 6   Obitos                       90 non-null     object
 7   Letalidade                   90 non-null     object
 8   Obitos 100k habitantes       90 non-null     object
 9   perfil                       90 non-null     object
 10  TwitterID                    90 non-null     object
 11  Processado                   90 non-null     bool
dtypes: bool(1), int64(1), object(10)
memory usage: 7.9+ KB

## Apos a remocao das cidades sem perfil no twitter temos um total de 90 cidade

In [20]:
## Para este exemplo usaremos somente duas colunas do df

df = df[df['state'].isin(df_prefs['UF'])]
df = df[df['city'].isin(df_prefs['Municipio'])]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21031 entries, 59 to 1827674
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   city                       21031 non-null  object
 1   date                       21031 non-null  datetime64[ns]
 2   estimated_population       21031 non-null  float64
 3   last_available_death_rate  21031 non-null  float64
 4   state                      21031 non-null  object
 5   new_confirmed              21031 non-null  int64
 6   new_deaths                 21031 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 1.3+ MB

In [21]:
## Confirmado que o dataset da covid IO esta filtrando somente os casos das prefeituras que levantamos no twitter
## Fazendo o size vemos as mesmas 90 cidades
df.groupby('city').size()

city
Alvorada         174
Ananindeua       170
Anápolis         182
Aracaju          298
Araçatuba        168
                ...
Viamão           170
Vila Velha       285
Vitória          271
Volta Redonda    174
Várzea Grande    183
Length: 90, dtype: int64

## Agora vou identificar o boletim mais antigo publicado para aplicar o mesmo filtro no dataset do twitter posteriormente

In [22]:
date_oldest = df['date'].min()
date_oldest

Timestamp('2020-03-17 00:00:00')

In [23]:
df.to_csv('datasets/covidCasesLimpo.csv')

df.head()

,city,date,estimated_population,last_available_death_rate,state,new_confirmed,new_deaths
59,Rio Branco,2020-04-06,413418.0,0.0256,AC,1,1
101,Rio Branco,2020-04-13,413418.0,0.0441,AC,8,1
122,Rio Branco,2020-04-16,413418.0,0.0465,AC,10,1
136,Rio Branco,2020-04-18,413418.0,0.0446,AC,7,1
151,Rio Branco,2020-04-20,413418.0,0.0515,AC,13,2

### Salvo a versao final dos boletins ja limps e prontos para a analise

In [24]:
df.groupby("city").size()

city
Alvorada         174
Ananindeua       170
Anápolis         182
Aracaju          298
Araçatuba        168
                ...
Viamão           170
Vila Velha       285
Vitória          271
Volta Redonda    174
Várzea Grande    183
Length: 90, dtype: int64